*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ff758c,#ff7eb3,#ffb199);
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(15px);
    padding:40px;
    width:350px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 15px 30px rgba(0,0,0,0.2);
}

.love-text{
    margin-bottom:30px;
}

.love-text h1{
    color:white;
    font-size:36px;
    overflow:hidden;
    white-space:nowrap;
    border-right:3px solid white;
    width:0;
    animation:
    typing 3s steps(12) forwards,
    blink 0.8s infinite;
}

input{
    width:100%;
    padding:14px;
    margin:12px 0;
    border:none;
    border-radius:10px;
    outline:none;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:white;
    color:#ff4d6d;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

@keyframes typing{
    from{
        width:0;
    }
    to{
        width:12ch;
    }
}

@keyframes blink{
    50%{
        border-color:transparent;
    }
}
